# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
****

In [2]:
import pandas as pd

## imports for Python, Pandas

In [3]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [5]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [6]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank

In [7]:
# load json as string
A = json.load((open('data/world_bank_projects_less.json')))

In [10]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

### Solution for Exercise-1

In [9]:
# Using a few css files to get the better visual for output. 

from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [10]:
# Converting given json file into a DataFrame and printing top 5 entries.

json_df = pd.read_json('data/world_bank_projects.json')
json_df.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,"[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

In [11]:
# value_counts() function will read the entries in 'countryname' , count it and make a series of 
# country name with respective frequency.

#to_dict() function has been used to convert that series to a dictionary.



result_dict = json_df.countryname.value_counts().to_dict()

In [12]:
# To fetch the top 10 entries, a for loop has been used. 


count = 0

for k in result_dict:

    if count == 10:
        break

    print('country_name = ' + k + '   and   ' +  'frquency = ' + str(result_dict[k]))
    count = count + 1

country_name = People's Republic of China   and   frquency = 19
country_name = Republic of Indonesia   and   frquency = 19
country_name = Socialist Republic of Vietnam   and   frquency = 17
country_name = Republic of India   and   frquency = 16
country_name = Republic of Yemen   and   frquency = 13
country_name = Nepal   and   frquency = 12
country_name = Kingdom of Morocco   and   frquency = 12
country_name = People's Republic of Bangladesh   and   frquency = 12
country_name = Africa   and   frquency = 11
country_name = Republic of Mozambique   and   frquency = 11

### Solution for Exercise-2

In [16]:
# JSON file is loaded into a variable 'x'

x = json.load((open('data/world_bank_projects.json')))

In [17]:
# By using normalize function, project themes have been fetched.

mjtheme_df = json_normalize(x,'mjtheme_namecode')
mjtheme_df.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [18]:
# Same as question 1, ,value_counts() and to_dict() functions have been used
# to count the frequency of the project titles and covert them into a dictionary respectively. 

mjtheme_dict = mjtheme_df.name.value_counts().to_dict()
mjtheme_dict

{'Environment and natural resources management': 223,
 'Rural development': 202,
 'Human development': 197,
 'Public sector governance': 184,
 'Social protection and risk management': 158,
 'Financial and private sector development': 130,
 '': 122,
 'Social dev/gender/inclusion': 119,
 'Trade and integration': 72,
 'Urban development': 47,
 'Economic management': 33,
 'Rule of law': 12}

In [19]:
# To get top 10 project details, for loop has been used


count = 0

for k in mjtheme_dict:
    if count == 10:
        break
    if k == '':
        continue 
    print(k +'   :  ' + str(mjtheme_dict[k]))
    count = count +1

Environment and natural resources management   :  223
Rural development   :  202
Human development   :  197
Public sector governance   :  184
Social protection and risk management   :  158
Financial and private sector development   :  130
Social dev/gender/inclusion   :  119
Trade and integration   :  72
Urban development   :  47
Economic management   :  33

### Solution for Exercise-3

In [20]:
# Removing duplicate rows from DataFrame
unique_mjtheme_df = mjtheme_df.drop_duplicates()
unique_mjtheme_df.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [21]:
# Removing those rows where 'name' is not available

unique_mjtheme_df_without_null = unique_mjtheme_df[unique_mjtheme_df['name']!='']
unique_mjtheme_df_without_null.head(5)

  code                                   name
0    8                      Human development
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration
5    2               Public sector governance

In [22]:
# sort the Dataframe as per the 'code' values

unique_mjtheme_df_without_null  = unique_mjtheme_df_without_null.sort_values('code')
unique_mjtheme_df_without_null.head(5)

    code                                          name
2      1                           Economic management
18    10                             Rural development
6     11  Environment and natural resources management
5      2                      Public sector governance
252    3                                   Rule of law

In [48]:
# Convert the DataFrame into dictionary 

code_name_dict = pd.Series(unique_mjtheme_df_without_null.name.values,index=unique_mjtheme_df_without_null.code).to_dict()


code_name_dict

{'1': 'Economic management',
 '10': 'Rural development',
 '11': 'Environment and natural resources management',
 '2': 'Public sector governance',
 '3': 'Rule of law',
 '4': 'Financial and private sector development',
 '5': 'Trade and integration',
 '6': 'Social protection and risk management',
 '7': 'Social dev/gender/inclusion',
 '8': 'Human development',
 '9': 'Urban development'}

In [49]:
#Using map function, dictionary is going to be mapped with dataframe.

mjtheme_df.name = mjtheme_df.code.map(code_name_dict)

In [23]:
# Result : All empty fields in 'name ' now filled with their respective project names. 

mjtheme_df.head(5)

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [51]:
mjtheme_dict_after_adding_values = mjtheme_df.name.value_counts().to_dict()
mjtheme_dict_after_adding_values

{'Environment and natural resources management': 250,
 'Rural development': 216,
 'Human development': 210,
 'Public sector governance': 199,
 'Social protection and risk management': 168,
 'Financial and private sector development': 146,
 'Social dev/gender/inclusion': 130,
 'Trade and integration': 77,
 'Urban development': 50,
 'Economic management': 38,
 'Rule of law': 15}

### END